body {
  	@include dptl(block,absolute,0,0);
  	@include whmp(100vw,100vh,0,0);
    @extend .serif;

    min-width: 320px;
  	background-color: $cmain;

	.body-container {
    	@include dptl(block,fixed,0,0);
    	@include whmp(100%,100%,0,0);

      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;

    @import "parts/header";

    .the-main {
      @include dptl(inline-block,absolute,$header-height,0);
      @include whmp(100%,$main-height,0,0);

      z-index: $main-z;

      .container-fluid {
          @include fill();
      }
    }
    @import "parts/footer";
  }
  @media only screen and (min-width:$xs2-min-width) {}
  @media only screen and (min-width:$xs3-min-width) {}
  @media only screen and (min-width:$sm-min-width) {
    .body-container {
      .the-main {
          @include fill();
          padding-top: 50px;
        .container-fluid {
            @include fill();
            overflow: hidden;
        }
      }
    }

  }
  @media only screen and (min-width:$md-min-width) {}
  @media only screen and (min-width:$lg-min-width) {}
}
