//defaults

body {
	@include dptl(block,absolute,0,0);
	@include whmp(100vw,100vh,0,0);
  @extend .serif;
	
	background-color: $default-bg-color;
	color: $default-color;
	
	.body-container {
		@include dptl(block,fixed,0,0);
		@include whmp(100%,100%,0,0);

		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;

  	.the-header {
			.the-navbar {
				@include fill();

				background-color: transparent;
				border-width: 0px;

				.navbar-header {
					@include fill();

					padding: 7.5px;
					border-bottom: 1px solid $cneutral;

						.navbar-toggle, .navbar-toggle:focus, .navbar-toggle:active {
							@include dptr(inline-block,relative,0,0);
							@include whmp($contact-item-height,$contact-item-height,0,3.5px);

							background-color: transparent;
							border: 1px solid $cneutral;
							border-radius: $border-radii;
							cursor: pointer;

								.fa-bars {
									font-size: $nav-font-size;
									color: $cneutral;
								}
						}
						.navbar-toggle:hover {
							background-color: $cneutral;
							.fa-bars {
								color: $cmain;
								vertical-align: middle;
							}
						}
						.navbar-brand {
							@extend .sans;
								@include dptr(inline-block,relative,0,0);
								@include whmp(85%,auto,0,5px);

							vertical-align: middle;
							font-size: $nav-font-size;
							font-weight: 700;
							color: $navbar-brand-color;
							text-shadow: $tshad2;
							text-transform: uppercase;
						}

				}

				.navbar-body {
					@include dptl(none,fixed,0,0);
					@include whmp(100%,auto,-5px 0 0,0);

					background-color: $cmain;
					border-width: 0px;

						.navbar-nav {
							@include dptl(inline-block,relative,0,0);
							@include whmp(100%,100%,0,0);
							@extend .serif;

							border-bottom: 1px solid $cneutral;

								.contact-us {
									@include dptl(inline-block,relative,0,0);
									@include whmp(100%,$nav-item-height,0,0 100px);

									background-color: $cmain;

										.contact-item {
											@include dptl(inline-block,relative,0,0);
											@include whmp(50%,100%,0,5px);

											float: left;
											text-align: center;

												.contact-link {
													@include dptl(inline-block,relative,0,0);
													@include whmp($contact-item-height,$contact-item-height,0,5px);

													color: $cneutral;
													border: 1px solid $cneutral;
													border-radius: $border-radii;

														.contact-icon {
															@include dptl(inline-block,relative,0,0);
															@include whmp($nav-font-size,$nav-font-size,0,0);

															font-size: $nav-font-size;
														}
														.contact-text { display: none; }
												}
												.contact-link:hover {
													color: $cmain;
													border-color: $cmain;
													background-color: $cneutral;
												}
										}
								}
								.sb {
									@include dptl(inline-block,relative,0,0);
									@include whmp(100%,auto,0,0);
										.widget {
												@include dptl(inline-block,relative,0,0);
										}
										.widget_nav_menu {
												@include whmp(100%,$nav-menu-height,0,0);

											.menu-primary-container {
												@include fill();

												.menu {
													@include fill();

													list-style: none;

													.menu-item {
														@include dptl(inline-block,relative,0,0);
														@include whmp(100%,$nav-item-height,0,0);

														text-align: center;

														a {
															@include fill();
															font-size: $nav-font-size;
															vertical-align: middle;
															color: $cneutral;
														}
														a:hover {
															background-color: $cneutral;
															color: $cmain;
														}
													}
												}

												@media only screen and (min-width: $sm-min-width) {
													.menu {
														float: right;
															.menu-item {
																@include dptl(inline-block,relative,0,0);
																@include whmp(auto,$nav-item-height,0,7.5px);

																float: left;

																	a {
																		@include whmp(auto,35px,0,3px);

																		font-size: 17px;
																		border-radius: $border-radii;
																		text-shadow: 1px 1px $cmain;
																	}
															}
															.menu-item:hover {
																a { text-decoration: none; }
															}
													}
												}
											}

										}
										.widget_search {
												@include whmp(100%,$nav-item-height,0,0);
										}
								}
						}
				}
				.collapse.in, .collapsing { @include dp(inline-block,relative); }

				.search-toggle {
					@media (max-width: ($sm-min-width - 1px)) {display: none;}
						.btn {
								.fa-search {}
						}
				}
				.header-bottom {
					@include dptl(inline-block,fixed,$nav-item-height,0);
					@include whmp(100%,auto,0,0);

						.header-img.left {@include tl(0,0);}
						.header-img.right {@include tr(0,0);}
						.header-img {
							@include dp(inline-block,absolute);
							@include whmp(100px,100px,0,0);
						}
				}
			}
		}
    .the-main {
      @include dptl(inline-block,absolute,$nav-item-height,0);
      @include whmp(100%,$main-height,0,0);
      .main-container {
				.page-header {
					.page-title {}
				}
				.the-content {
					@include dptl(inline-block,absolute,80px,0);
					@include whmp(90%,65%,0 5%,5%);

					//background-color: $cneutral;
					//border: 1px solid $cmain;
					//border-radius: $border-radii;
					z-index: $content-z;
					overflow: hidden;

				.content-text {
						@include dptl(inline-block,relative,0,3%);
						@include whmp(105%,105%,0,0 7% 0 0);
						color: $cneutral;
						text-shadow: 1px 1px $cmain;
						overflow: scroll;
				}
			}
      }
    }
    .the-footer {
			@include dpbl(inline-block,absolute,75px,0);
			@include whmp(100%,auto,0,0);

			color: $cneutral;
			text-align: center;
			font-size: 12px;

				hr {
					width: 50%;
					margin: 2px 25%;
				}

			.footer-info {
				@extend .row;
				.footer-info-item {
					@extend .col-xs-12;
				}
				.copyright-brand {

				}
				.phone-number {}
			}

			.footer-bottom {
				@include dpbl(inline-block,fixed,0,0);
				@include footerBottomGates($footer-gates-xs);

				width: 100%;
				background-repeat: repeat-x;
				background-size: contain;
			}
		}
		@media (min-width: ($xs-min-width + 1px)) {
			.the-footer {
				.footer-bottom {
					@include footerBottomGates($footer-gates-xs2);
				}
			}
		}
		@media only screen and (min-width: $xs2-min-width) {
			.the-footer {
					.footer-bottom {
						@include footerBottomGates($footer-gates-xs2);
					}
			}
		}
		@media only screen and (min-width: $xs3-min-width) {
			.the-footer {
					.footer-bottom {
						@include footerBottomGates($footer-gates-xs3);
					}
			}
		}
		@media only screen and (min-width: $sm-min-width) {
			.the-footer {
					.footer-bottom {
						@include footerBottomGates($footer-gates-sm);
					}
			}
		}
		@media only screen and (min-width: $md-min-width) {
			.the-footer {
					.footer-bottom {
						@include footerBottomGates($footer-gates-md);
					}
			}
		}
		@media only screen and (min-width: $lg-min-width) {
			.the-footer {
					.footer-bottom {
						@include footerBottomGates($footer-gates-lg);
					}
			}
		}

  }
}








body {
  	@include dptl(block,absolute,0,0);
  	@include whmp(100vw,100vh,0,0);
    @extend .serif;
	
  	background-color: $cmain;

	.body-container {
    	@include dptl(block,fixed,0,0);
    	@include whmp(100%,100%,0,0);
		
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;

    @import "parts/header";

    .the-main {
      @include dptl(inline-block,absolute,$header-height,0);
      @include whmp(100%,$main-height,0,0);

      z-index: $main-z;
			overflow: hidden;
      .main-container {
				@include fill();
				
				
				.page-title {
					@include dptl(inline-block,relative,0,0);
					@include whmp(100%,auto,0,5% 5% 2.5%);
				}
				.the-content {
					@include dptl(inline-block,relative,0,0);
					@include whmp(100%,45%,0,0 13%);
					
					overflow: scroll;
					.content-text {
						color: $cneutral;
						text-shadow: $tshad1;
						font-size: 13px;
						padding: 0 10px;
					}
				}
      }
    }
    @import "parts/footer";
  }
  @media only screen and (min-width:$xs2-min-width) {
		.body-container {
			.the-main {
				.main-container {
					.page-title {}
					.the-content {
						padding: 0 15%;
					}
				}
			}
		}
	}
  @media only screen and (min-width:$xs3-min-width) {}
  @media only screen and (min-width:$sm-min-width) {
    .body-container {
      .the-main {
          @include fill();
        .container-fluid {
            @include fill();
            overflow: hidden;
        }
      }
    }

  }
  @media only screen and (min-width:$md-min-width) {}
  @media only screen and (min-width:$lg-min-width) {}
}
