.the-header {
@include dp(inline-block,$displays);
@include mp(0,0);
@include wh(100%,50px);
@include tl(0,0);

z-index: 100;

    .the-navbar {
        @include dp(inline-block,relative);
        @include wh(100%,auto);

        margin: 0;
        background-color: $header-bg-color;
        border-width: 0px;

        .navbar-header {
            @include wh(100%,100%);

            border-bottom: 1px solid $header-color;

            .navbar-brand {
                @extend .sans;

                font-size: 23px;
                font-weight: 700;
                color: white;
            }
            .navbar-toggle {
                @include wh(40px,40px);
                @include mp(4px,10px);

                border: 1px solid white;
                border-radius: 5px;
                cursor: pointer;

                .fa-bars {
                    font-size: 20px;
                    color: $header-color;
                }
            }
            .navbar-toggle:hover {
                background-color: white;
                .fa-bars {
                    color: black;
                }
            }
            .navbar-toggle:focus, .navbar-toggle:active, .navbar-toggle:visited {
                background-color: transparent;
                .fa-bars {
                    color: white;
                }
            }

        }
        .navbar-body {
						//@include dp(inline-block,relative);
						width: 100%;
            background-color: black;
            border-width: 0;
            padding: 0;

            .navbar-nav {
                @include dp(inline-block,relative);
                @include wh(100%,auto);
                @include mp(0,0);
                @include tl(0,0);
                @extend .serif;

                min-width: 290px;
                border-bottom: 1px solid white;

                .contact-us {
                    @extend .row;
                    @include wh(100%,50px);

                    background-color: black;
                    margin: 0;
                    padding: 0 80px;

                    .contact-item {
                        @extend .col-xs-6;

                        padding-top: 7.5px;
                        height: 100%;
                        text-align: center;

                        .contact-link {
                            @include dp(inline-block,relative);
                            @include wh(40px,40px);

                            padding: 10px;
                            color: white;
                            border: 1px solid white;
                            border-radius: 5px;

                            .contact-icon {
                                @include wh(20px,20px);
                                font-size: 20px;
                                @include dp(inline-block,relative);
                                @include tl(0,0);
                                z-index: 15;
                            }
                            .contact-text, br { display: none; }
                        }
                    }
                    .contact-item {
                        .contact-link:hover {
                            color: black;
                            border-color: #c0c0c0;
                            background-color: white;
                        }
                    }

                }
                .widget {
                    @include dp(inline-block,relative);

                    h3 { display: none; }
                }
                .widget_nav_menu {
                    @include dp(inline-block,relative);
                    @include wh(100%,200px);

                    .menu-primary-container {
                        @include dp(inline-block,relative);
                        @include wh(100%,100%);
                        @include mp(0,0);

                        .menu {
                            @include mp(0,0);
                            @include dp(inline-block,relative);

                            list-style: none;

                            .menu-item {
                                @include dp(inline-block,relative);
                                @include wh(100%,50px);
                                @include mp(0,0);

                                text-align: center;

                                a {
                                    @include dp(inline-block,relative);
                                    @include wh(100%,100%);

                                    padding: 12.5px;
                                    font-size: 17.5px;
                                    vertical-align: middle;
                                    color: white;
                                }
                                @media only screen and (min-width: $xs2-min-width) {
                                    a {
                                        padding: 15px;
                                        height: 50px;
                                    }
                                }
                            }
                            .current-menu-item {}
                            .menu-item {
                                a:hover {
                                    background-color: white;
                                    color: black;
                                }
                            }
                        }
                    }
                }
                .widget_search {
                    .search-form-container {
												display: none;
                        height: 50px;
                        padding: 5px 10px 0;

                        .search-form {
                            .input-group {
                                .search-field { height: 40px; }
                                .input-group-btn{
																	background-color: $primary-dark-color;
                                    .search-submit { height: 40px; }
                                }
                            }
                        }
                    }
                }
            }
        }
        .collapse.in, .collapsing { @include dp(inline-block,relative); }
        .search-toggle {
          @media (max-width: ($sm-min-width - 1px)) {
            display: none;
          }
        }
        .header-bottom {
            @include dp(inline-block,$displays);
            @include wh(100%, auto);
            @include tl(50px,0);

            .left-header-img { @include tl(0,0); }
            .right-header-img { @include tr(0,0); }
            .header-img {
                @include dp(inline-block,absolute);
                @include wh(70px,70px);

                z-index: 11;
            }
          @media only screen and (min-width: $xs2-min-width) {
            .header-img {  @include wh(80px,80px); }
          }
          @media only screen and (min-width: $xs3-min-width) {
            .header-img { @include wh(90px,90px); }
          }
          @media only screen and (min-width: $sm-min-width) {
            .header-img { @include wh(100px,100px); }
          }
          @media only screen and (min-width: $md-min-width) {
            .header-img { @include wh(110px,110px); }
          }
          @media only screen and (min-width: $lg-min-width) {
            .header-img { @include wh(120px,120px); }
          }
        }
    }
}
@media only screen and (min-width: $sm-min-width) {

	.the-header {
			border-bottom: 1px solid white;

		.the-navbar {
				@include dp(inline-block,relative);
				@include wh(100%,50px);

			.navbar-header {
					@include dp(inline-block,relative);

					max-width: 30%;
					border-width: 0px;
				.navbar-brand {

				}
				.navbar-toggle {
					.fa-bars {

					}
				}
			}
			.navbar-body {
					@include dp(inline-block,relative);
					@include wh(auto,50px!important);
					@include mp(0,0);
					@include tr(0,0);

					background-color: $header-bg-color;
					float: left;

				.navbar-nav {
						@include fill();

						border-width: 0px;

					.contact-us {
							@include dp(inline-block,relative);
							@include mp(0,0);
							@include wh(auto,50px);

							background-color: $header-bg-color;

						.contact-item {
								@include dp(inline-block,relative);
								@include mp(0,7.5px);
								@include wh(50px,50px);

							.contact-link {
									@include mp(0,5px);
									@include wh(35px,35px);

									border-width: 0px;

								.contact-icon {
										font-size: $header-font-size;
										text-shadow: 1px 1px $primary-dark-color;
								}
								.contact-text, br {}
							}
						}
					}
					.widget {
							@include dp(inline-block,relative);
							@include mp(0,0);
							@include wh(auto,50px);

						.h3 {}
					}
						.widget_nav_menu {

							.menu-primary-container {

								.menu {

									.menu-item {
											@include dp(inline-block,relative);
											@include wh(auto,50px);
											@include mp(0,7.5px);

											float: left;

										a {
												@include mp(0,3px);
												@include wh(auto, 35px);

												font-size: $header-font-size;
												border-radius: 4px;
												text-shadow: 1px 1px black;
										}
									}
									.menu-item:hover {
										a {
												text-decoration: none;
										}
									}
								}
							}
						}
						.widget_search {

							.search-form-container {
								position: fixed;
								@include tr(0,50px);
								z-index: 100;
								width: 465px;
								.search-form {

									.input-group {

										.search-field {
										}
										.input-group-btn {

											.search-submit {
												background-color: gray;
											}
										}
									}
								}
							}
							.search-form-container.open {
									display: inline-block;
							}
						}
				}
				.collapse.in, .collapsing {

				}
			}
			.search-toggle {
					@include dptr(inline-block,fixed, 0, 0);
					@include mp(0,7.5px);
					@include wh(50px,50px);

				.btn {
						@include mp(0,5px);
						@include wh(35px,35px);

						background-color: transparent;
						border-width: 0px;

					.fa-search {
						  color: white;
							text-shadow: 1px 1px black;
							font-size: $header-font-size;
					}
					.fa-times {
						color: black;
					}
				}
			}
			.search-toggle:hover {
				.btn {
					background-color: white;
					.fa-search {
						color: black;
						text-shadow: none;
					}
				}
			}
			.search-toggle.open {
				.btn {
					background-color: white;
					i {
						color: black;
					}
				}
			}
			.header-bottom {

				.header-img {}
			}
		}
	}
}
@media only screen and (min-width: 787) {
	.the-header {
			.the-navbar {
					.navbar-header {
							.navbar-brand {}
							.navbar-toggle { .fa-bars {} }
					}
					.navbar-body {
						.navbar-nav {
								.contact-us {
									.contact-item {
										.contact-link {
										.contact-icon {}
											.contact-text, br {}
										}
									}
								}
								.widget { .h3 {} }
								.widget_nav_menu {
									.menu-primary-container {
										.nav {
											.menu-item { a {} }
										}
									}
								}
								.widget_search {
									.search-form-container {
										.search-form {
											.input-group {
												.search-field {}
												.input-group-btn { .search-submit {} }
											}
										}
									}
								}
						}
						.collapse.in, .collapsing {}
					}
          .search-toggle {
            @include dptr(inline-block, fixed, 0px, 0px);

          }
					.header-bottom {
						.header-img {}
					}
			}
	}
}
@media only screen and (min-width: $md-min-width) {
	.the-header {
			.the-navbar {
					.navbar-header {
							.navbar-brand {}
							.navbar-toggle { .fa-bars {} }
					}
					.navbar-body {
						.navbar-nav {
								.contact-us {
									.contact-item {
										.contact-link {
										.contact-icon {}
											.contact-text, br {}
										}
									}
								}
								.widget { .h3 {} }
								.widget_nav_menu {
									.menu-primary-container {
										.nav {
											.menu-item { a {} }
										}
									}
								}
								.widget_search {
									.search-form-container {
										.search-form {
											.input-group {
												.search-field {}
												.input-group-btn { .search-submit {} }
											}
										}
									}
								}
						}
						.collapse.in, .collapsing {}
					}
					.header-bottom {
						.header-img {}
					}
			}
	}
}
@media only screen and (min-width: $lg-min-width) {
	.the-header {
			.the-navbar {
					.navbar-header {
							.navbar-brand {}
							.navbar-toggle { .fa-bars {} }
					}
					.navbar-body {
						.navbar-nav {
								.contact-us {
									.contact-item {
										.contact-link {
										.contact-icon {}
											.contact-text, br {}
										}
									}
								}
								.widget { .h3 {} }
								.widget_nav_menu {
									.menu-primary-container {
										.nav {
											.menu-item { a {} }
										}
									}
								}
								.widget_search {
									.search-form-container {
										.search-form {
											.input-group {
												.search-field {}
												.input-group-btn { .search-submit {} }
											}
										}
									}
								}
						}
						.collapse.in, .collapsing {}
					}
					.header-bottom {
						.header-img {}
					}
			}
	}
}
