.page {
  .body-container {
    .the-header {
      z-index: 70;
    }
    .the-main {
      height: 65%;
      padding: 0 10px;
      overflow:hidden;
      z-index: 50;
      .container-fluid {
        @include dp(inline-block,relative);
        @include wh(115%,105%);
        margin-left: -7.5%;
        overflow: scroll;

        .page-title {

        }
        .the-content {
          @include dp(inline-block,relative);
          margin: 15px 2%;

          .content-text {
            @include dp(inline-block,relative);
            @include wh(100%,100%);
            margin-bottom: 50px;
            border: 1px solid black;
            border-radius: 6px;
            background-color: white;
            padding: 20px;
          }
        }
      }
    }
    .the-footer {
      z-index: 60;
    }
  }
}
@media (min-width: $xs2-min-width) {
  .page {
    .body-container {
      .the-header {}
      .the-main {
        .container-fluid {
          .page-title {}
          .the-content {}
        }
      }
      .the-footer {}
    }
  }
}
@media (min-width: $xs3-min-width) {
  .page {
    .body-container {
      .the-header {}
      .the-main {
        .container-fluid {
          .page-title {}
          .the-content {}
        }
      }
      .the-footer {}
    }
  }
}
@media (min-width: $sm-min-width) {
  .page {
    .body-container {
      .the-header {}
      .the-main {
        @include fill();
        padding-top: 25px;
        .container-fluid {
          @include fill();
          overflow: hidden;
          .page-title {
            font-size: 40px;
          }
          .the-content {
            padding: 0 25px;
            font-size: 20px;
            .content-text {
              
              padding: 20px;
            }
          }
        }
      }
      .the-footer {
        .footer-bottom {
          @include footerBottomGates(4);
        }
      }
    }
  }
}
@media (min-width: $md-min-width) {
  .page {
    .body-container {
      .the-header {}
      .the-main {
        .container-fluid {
          .page-title {}
          .the-content {}
        }
      }
      .the-footer {}
    }
  }
}
@media (min-width: $lg-min-width) {
  .page {
    .body-container {
      .the-header {}
      .the-main {
        .container-fluid {
          .page-title {}
          .the-content {}
        }
      }
      .the-footer {}
    }
  }
}
