/* BREAKPOINTS */

$bp1: 320px;
$bp2: 360px;
$bp3: 375px;
$bp4: 384px;
$bp5: 412px;
$bp6: 414px;
$bp7: 425px;
$bp8: 480px;
$bp9: 533px;
$bp10: 568px;
$bp11: 600px;
$bp12: 640px;
$bp13: 667px;
$bp14: 732px;
$bp15: 736px;
$bp16: 768px;
$bp17: 800px;
$bp18: 900px;
$bp19: 950px;
$bp20: 960px;
$bp21: 1024px;
$bp22: 1280px;
$bp23: 1366px;
$bp24: 1440px;
$bp25: 1600px;
$bp26: 2560px;


/* BREAKPOINTS (DevTools Responsive widths) */
$xs-min-width: $bp1;
$xs2-min-width: $bp3;
$xs3-min-width: $bp7;
$sm-min-width: $bp16;
$md-min-width: $bp21;
$lg-min-width: $bp24;


//min-widths
@media only screen and (min-width: $bp1) {}
@media only screen and (min-width: $bp2) {}
@media only screen and (min-width: $bp3) {}
@media only screen and (min-width: $bp4) {}
@media only screen and (min-width: $bp5) {}
@media only screen and (min-width: $bp6) {}
@media only screen and (min-width: $bp7) {}
@media only screen and (min-width: $bp8) {}
@media only screen and (min-width: $bp9) {}
@media only screen and (min-width: $bp10) {}
@media only screen and (min-width: $bp11) {}
@media only screen and (min-width: $bp12) {}
@media only screen and (min-width: $bp13) {}
@media only screen and (min-width: $bp14) {}
@media only screen and (min-width: $bp15) {}
@media only screen and (min-width: $bp16) {}
@media only screen and (min-width: $bp17) {}
@media only screen and (min-width: $bp18) {}
@media only screen and (min-width: $bp19) {}
@media only screen and (min-width: $bp20) {}
@media only screen and (min-width: $bp21) {}
@media only screen and (min-width: $bp22) {}
@media only screen and (min-width: $bp23) {}
@media only screen and (min-width: $bp24) {}
@media only screen and (min-width: $bp25) {}
@media only screen and (min-width: $bp26) {}

//min-heights
@media only screen and (min-height: $bp1) {}
@media only screen and (min-height: $bp2) {}
@media only screen and (min-height: $bp3) {}
@media only screen and (min-height: $bp4) {}
@media only screen and (min-height: $bp5) {}
@media only screen and (min-height: $bp6) {}
@media only screen and (min-height: $bp7) {}
@media only screen and (min-height: $bp8) {}
@media only screen and (min-height: $bp9) {}
@media only screen and (min-height: $bp10) {}
@media only screen and (min-height: $bp11) {}
@media only screen and (min-height: $bp12) {}
@media only screen and (min-height: $bp13) {}
@media only screen and (min-height: $bp14) {}
@media only screen and (min-height: $bp15) {}
@media only screen and (min-height: $bp16) {}
@media only screen and (min-height: $bp17) {}
@media only screen and (min-height: $bp18) {}
@media only screen and (min-height: $bp19) {}
@media only screen and (min-height: $bp20) {}
@media only screen and (min-height: $bp21) {}
@media only screen and (min-height: $bp22) {}
@media only screen and (min-height: $bp23) {}
@media only screen and (min-height: $bp24) {}
@media only screen and (min-height: $bp25) {}
@media only screen and (min-height: $bp26) {}