/* COLORS */
$cneutral: white;
$cmain: black;
$cpop: #262626;

//text shadows
$tshad1-color: $cmain;
$tshad2-color: $cpop;

$default-color: $cneutral;
$default-bg-color: $cmain;

// header colors
$navbar-brand-color: $default-color;
$page-title-color: $default-color;