$nav-menu-height: 160px;
$nav-item-height: ($nav-menu-height * .25);
$menu-toggle-height: ($nav-item-height - 10px);
$contact-item-height: $menu-toggle-height;
$nav-font-size: ($contact-item-height * .5);
$search-menu-height: ($nav-item-height * .8);

$main-height: 70%;

$imgsize: 100px;
$imgsize2: $imgsize;



/* FOOTER GATES */
// height:width ratio of gate image
$footer-gate-ratio: .90798;
// width = 100% of device width
$footer-width: 100vw;
//default # of gates
$footer-gates-def: 3.98;
// number of gates on phones
$footer-gates-xs: $footer-gates-def;
$footer-gates-xs2: ($footer-gates-def + 1);
$footer-gates-xs3: ($footer-gates-def + 1);
// number of gates on tablets
$footer-gates-sm: ($footer-gates-def + 2);
// number of gates on laptops
$footer-gates-md: ($footer-gates-def + 3);
$footer-gates-lg: ($footer-gates-def + 4);