.drop {
  .drop-toggle {
      @extend .sans;

      font-size: 25px;
      font-weight: 300;
      border: 1px solid $primary-dark-color;
      background-color: $primary-light-color;

    .drop-arrow { font-size: 15px; }
  }
  .drop-toggle:hover {
      background-color: transparent;
      color: $primary-light-color;
      font-weight: 500;
      text-shadow: 1px 1px $primary-dark-color;
      border: 1px solid $primary-light-color;
  }
  .drop-menu {

      border-radius: $border-radii;
      font-size: 15px;
      list-style: none;

    .drop-item {
        @extend .serif;

        text-align: left;
        background-color: $primary-light-color;
        border: 1px solid $primary-dark-color;
        border-top-width: 0;

      .drop-link {
          @include dptl(inline-block,relative,0,0);
          @include whmp(100%,100%,0,8px);

          color: $primary-dark-color;
      }
    }
    .drop-item:first-of-type {
        border-top-width: 1px;
        border-radius: $border-radii $border-radii 0 0;
    }
    .drop-item:last-of-type {
        border-radius: 0 0 $border-radii $border-radii;
    }
    .drop-item:hover {
        border-color: $primary-light-color;
        background-color: transparent;
      .drop-link { color: $primary-light-color; }
    }
  }
  .drop-menu.open {}

  @media (min-width: $sm-min-width) { font-size: 20px; }
  @media (min-width: $md-min-width) {
      font-size: 25px;
    .drop-item { padding: 5px; }
  }
}

.browse-drop {
  	@include dptl(inline-block,relative,0,0);
  	@include whmp(100%,auto,0,0);

  	text-align: center;

  .browse-toggle {
  		@include dptl(inline-block,relative,0,0);

  		margin-top: 20px;
  }
  .browse-menu {
  		@include dptl(inline-block,fixed,300px,25%);
  		@include whmp(50%,auto,0,0);
  	.browse-item {
  		.browse-link {}
  	}
  }
  @media only screen and (min-width: $xs2-min-width) {
	.browse-toggle {
		  margin-top: 0px;
	}
	.browse-menu {
		  margin-top: 5px;
		.browse-item {
			.browse-link {}
		}
	}
}
  @media only screen and (min-width: $xs3-min-width) {
  	.browse-toggle {
  		  margin-top: 20px;
  	}
  	.browse-menu {
  		  margin-top: 0px;
  		.browse-item {
  			.browse-link {}
  		}
    }
  }
} // </.browse-drop>
