.page-title {
    @extend .serif;

    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px $cmain;
    color: $cneutral;

	@media only screen and (min-width:$sm-min-width) {
		font-size: 40px; 
	}
}

