.the-content {
    @include dptl(inline-block,absolute,80px,0);
    @include whmp(90%,65%,0 5%,5%);

    //background-color: $cneutral;
    //border: 1px solid $cmain;
    //border-radius: $border-radii;
    z-index: $content-z;
    overflow: hidden;

  .content-text {
      @include dptl(inline-block,relative,0,3%);
      @include whmp(105%,105%,0,0 7% 0 0);
      color: $cneutral;
      text-shadow: 1px 1px $cmain;
      overflow: scroll;
  }
}
@media (min-width: ($xs-min-width + 1px)) {
  .the-content {
      height: 75%;
  }
}
@media only screen and (min-width:$xs2-min-width) {}
@media only screen and (min-width:$xs3-min-width) {}
@media only screen and (min-width:$sm-min-width) {
  .the-content {
      padding: 0 25px;
      font-size: 20px;
    .content-text {
        padding: 20px;
    }
  }
}
@media only screen and (min-width:$md-min-width) {}
@media only screen and (min-width:$lg-min-width) {}
