.the-footer {
  @include dpbl(inline-block,absolute,75px,0);
  @include whmp(100%,auto,0,0);
	
	color: $cneutral;
	text-align: center;
	font-size: 12px;
	
		hr {
			width: 50%;
			margin: 2px 25%;
		}
	
	.footer-info {
		@extend .row;
		.footer-info-item {
			@extend .col-xs-12;
		}
		.copyright-brand {
			
		}
		.phone-number {}
	}
	
	.footer-bottom {
		@include dpbl(inline-block,fixed,0,0);
		@include footerBottomGates($footer-gates-xs);

		width: 100%;
		background-repeat: repeat-x;
		background-size: contain;
	}
}
@media (min-width: ($xs-min-width + 1px)) {
  .the-footer {
    .footer-bottom {
      @include footerBottomGates($footer-gates-xs2);
    }
  }
}
@media only screen and (min-width: $xs2-min-width) {
  .the-footer {
      .footer-bottom {
        @include footerBottomGates($footer-gates-xs2);
      }
  }
}
@media only screen and (min-width: $xs3-min-width) {
  .the-footer {
      .footer-bottom {
        @include footerBottomGates($footer-gates-xs3);
      }
  }
}
@media only screen and (min-width: $sm-min-width) {
  .the-footer {
      .footer-bottom {
        @include footerBottomGates($footer-gates-sm);
      }
  }
}
@media only screen and (min-width: $md-min-width) {
  .the-footer {
      .footer-bottom {
        @include footerBottomGates($footer-gates-md);
      }
  }
}
@media only screen and (min-width: $lg-min-width) {
  .the-footer {
      .footer-bottom {
        @include footerBottomGates($footer-gates-lg);
      }
  }
}
