.navbar-body {
  @include dptl(none,fixed,0,0);
  @include whmp(100%,auto,-5px 0 0,0);

  background-color: $cmain;
  border-width: 0px;

    .navbar-nav {
      @include dptl(inline-block,relative,0,0);
      @include whmp(100%,100%,0,0);
      @extend .serif;

      border-bottom: 1px solid $cneutral;

        .contact-us {
          @include dptl(inline-block,relative,0,0);
          @include whmp(100%,$header-height,0,0 100px);

          background-color: $cmain;

            .contact-item {
              @include dptl(inline-block,relative,0,0);
              @include whmp(50%,100%,0,7.5px 10px 0);

              float: left;
              text-align: center;

                .contact-link {
                  @include dptl(inline-block,relative,0,0);
                  @include whmp(40px,40px,0,10px);

                  color: $cneutral;
                  border: 1px solid $cneutral;
                  border-radius: $border-radii;

                    .contact-icon {
                      @include dptl(inline-block,relative,0,0);
                      @include whmp(20px,20px,0,0);

                      font-size: 20px;
                    }
                    .contact-text { display: none; }
                }
                .contact-link:hover {
                  color: $cmain;
                  border-color: $cmain;
                  background-color: $cneutral;
                }
            }
        }
        .sb {
          @include dptl(inline-block,relative,0,0);
          @include whmp(100%,auto,0,0);
            .widget {
                @include dptl(inline-block,relative,0,0);
            }
            .widget_nav_menu {
                @include whmp(100%,200px,0,0);

              @import "nav-menu";
            }
            .widget_search {
                @include whmp(100%,$header-height,0,0);
            }
        }
    }
}
.collapse.in, .collapsing { @include dp(inline-block,relative); }
@media only screen and (min-width: $sm-min-width) {
  .navbar-body {
    @include dptr(inline-block!important,relative,0,0);
    @include whmp(60%,$header-height!important,0,0);

    background-color: transparent;

      .navbar-nav {
        @include fill();

        border-width: 0px;

          .contact-us {
            @include dptl(inline-block,relative,0,0);
            @include whmp(auto,$header-height,0,0);

            background-color: transparent;

              .contact-item {
                @include dptl(inline-block,relative,0,0);
                @include whmp($header-height,$header-height,0,7.5px);

                  .contact-link {
                    @include whmp(35px,35px,0,5px);

                    border-width: 0px;

                      .contact-icon {
                        text-shadow: 1px 1px $cmain;
                      }
                      .contact-icon:hover {
                        text-shadow: 1px 1px $cneutral;
                      }
                  }
              }
          }
          .sb {
            @include dptr(inline-block,relative,0,0);
            @include whmp(auto,$header-height,0,0);
              .widget {
                @include dptl(inline-block,relative,0,0);
                @include whmp(auto,$header-height,0,0);
              }
              .widget_nav_menu {}
              .widget_search {}
          }
      }
  }
}
@media only screen and (min-width: $md-min-width) {
  .navbar-body {
      .navbar-nav {
          .contact-us {
              .contact-item {
                  .contact-link {
                      .contact-icon {}
                  }
              }
          }
          .sb {
              .widget {}
              .widget_nav_menu {
                  .menu-primary-container {
                      .menu {
                          .menu-item {
                              a {}
                          }
                      }
                  }
              }
              .widget_search {
                  .search-form-container {
                      .search-form {
                          .input-group {
                              .search-field {}
                              .input-group-btn {
                                  .search-submit {}
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}
@media only screen and (min-width: $lg-min-width) {
  .navbar-body {
      .navbar-nav {
          .contact-us {
              .contact-item {
                  .contact-link {
                      .contact-icon {}
                  }
              }
          }
          .sb {
              .widget {}
              .widget_nav_menu {
                  .menu-primary-container {
                      .menu {
                          .menu-item {
                              a {}
                          }
                      }
                  }
              }
              .widget_search {
                  .search-form-container {
                      .search-form {
                          .input-group {
                              .search-field {}
                              .input-group-btn {
                                  .search-submit {}
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}
