.navbar-header {
  @include fill();

  padding: 7.5px;
  border-bottom: 1px solid $cneutral;

    .navbar-toggle, .navbar-toggle:focus, .navbar-toggle:active {
      @include dptr(inline-block,relative,0,0);
      @include whmp($contact-item-height,$contact-item-height,0,3.5px);

      background-color: transparent;
      border: 1px solid $cneutral;
      border-radius: $border-radii;
      cursor: pointer;

        .fa-bars {
          font-size: $nav-font-size;
          color: $cneutral;
        }
    }
    .navbar-toggle:hover {
      background-color: $cneutral;
      .fa-bars {
        color: $cmain;
        vertical-align: middle;
      }
    }
    .navbar-brand {
      @extend .sans;
        @include dptr(inline-block,relative,0,0);
        @include whmp(85%,auto,0,5px);

      vertical-align: middle;
      font-size: $nav-font-size;
      font-weight: 700;
      color: $navbar-brand-color;
			text-shadow: $tshad2;
			text-transform: uppercase;
    }

}
@media only screen and (min-width: $sm-min-width) {
  .navbar-header {
    width: 35%;
    //padding: 0;
    border-width: 0px;
      .navbar-toggle {
        display: none;
          .fa-bars {}
      }
      .navbar-brand {
        width: 100%;
      }
  }
}
