.menu-primary-container {
  @include fill();

  .menu {
    @include fill();

    list-style: none;

    .menu-item {
      @include dptl(inline-block,relative,0,0);
      @include whmp(100%,$nav-item-height,0,0);

      text-align: center;

      a {
        @include fill();
        font-size: $nav-font-size;
        vertical-align: middle;
        color: $cneutral;

        @media only screen and (min-width: $xs2-min-width) {
          //padding: 15px;
          //height: $nav-item-height;
        }
      }
      a:hover {
        background-color: $cneutral;
        color: $cmain;
      }
    }
  }

  @media only screen and (min-width: $sm-min-width) {
    .menu {
      float: right;
        .menu-item {
          @include dptl(inline-block,relative,0,0);
          @include whmp(auto,$header-height,0,7.5px);

          float: left;

            a {
              @include whmp(auto,35px,0,3px);

              font-size: 17px;
              border-radius: $border-radii;
              text-shadow: 1px 1px $cmain;
            }
        }
        .menu-item:hover {
          a { text-decoration: none; }
        }
    }
  }
}
