.navbar-body {
  @include whmp(100%,auto,0,0);

  background-color: $primary-dark-color;
  border-width: 0px;

    .navbar-nav {
      @include dptl(inline-block,relative,0,0);
      @include whmp(100%,auto,0,0);
      @extend .serif;

      border-bottom: 1px solid $primary-light-color;

        .contact-us {
          @include dptl(inline-block,relative,0,0);
          @include whmp(100%,$header-height,0,0 80px);

          background-color: $primary-dark-color;

            .contact-item {
              @include dptl(inline-block,relative,0,0);
              @include whmp(50%,100%,0,7.5px 15px 0);

              float: left;
              text-align: center;

                .contact-link {
                  @include dptl(inline-block,relative,0,0);
                  @include whmp(40px,40px,0,10px);

                  color: $primary-light-color;
                  border: 1px solid $primary-light-color;
                  border-radius: $border-radii;

                    .contact-icon {
                      @include dptl(inline-block,relative,0,0);
                      @include whmp(20px,20px,0,0);

                      font-size: 20px;
                    }
                    .contact-text { display: none; }
                }
                .contact-link:hover {
                  color: $primary-dark-color;
                  border-color: $primary-dark-color;
                  background-color: $primary-light-color;
                }
            }
        }
        .sb {
          @include dptl(inline-block,relative,0,0);
          @include whmp(100%,auto,0,0);
            .widget {
                @include dptl(inline-block,relative,0,0);
            }
            .widget_nav_menu {
              @include whmp(100%,200px,0,0);

              .menu-primary-container {
                @include fill();

                .menu {
                  @include fill();

                  list-style: none;

                  .menu-item {
                    @include dptl(inline-block,relative,0,0);
                    @include whmp(100%,$header-height,0,0);

                    text-align: center;

                    a {
                      @include fill();

                      padding: 12.5px;
                      font-size: 17.5px;
                      vertical-align: middle;
                      color: $primary-light-color;

                      @media only screen and (min-width: $xs2-min-width) {
                        padding: 15px;
                        height: $header-height;
                      }
                    }
                    a:hover {
                      background-color: $primary-light-color;
                      color: $primary-dark-color;
                    }
                  }
                }
              }
            }
            .widget_search {
              .search-form-container {
                display: none;
                height: $header-height;
                padding: 5px ($header-height*.2) 0;
                .search-form {
                  .input-group {
                    .search-field {height: ($header-height*.8);}
                    .input-group-btn {
                      background-color: $primary-dark-color;
                      .search-submit {height: ($header-height*.8);}
                    }
                  }
                }
              }
            }
        }
    }
}
.collapse.in, .collapsing { @include dp(inline-block,relative); }
@media only screen and (min-width: $sm-min-width) {
  .navbar-body {
    @include dptr(inline-block,relative,0,0);
    @include whmp(auto,$header-height!important,0,0);

    background-color: transparent;

      .navbar-nav {
        @include fill();

        border-width: 0px;

          .contact-us {
            @include dptl(inline-block,relative,0,0);
            @include whmp(auto,$header-height,0,0);

            background-color: transparent;

              .contact-item {
                @include dptl(inline-block,relative,0,0);
                @include whmp($header-height,$header-height,0,7.5px);

                  .contact-link {
                    @include whmp(35px,35px,0,5px);

                    border-width: 0px;

                      .contact-icon {
                        text-shadow: 1px 1px $primary-dark-color;
                      }
                      .contact-icon:hover {
                        text-shadow: 1px 1px $primary-light-color;
                      }
                  }
              }
          }
          .sb {
              .widget {
                @include dptl(inline-block,relative,0,0);
                @include whmp(auto,$header-height,0,0);
              }
              .widget_nav_menu {
                  .menu-primary-container {
                      .menu {
                          .menu-item {
                            @include dptl(inline-block,relative,0,0);
                            @include whmp(auto,$header-height,0,7.5px);

                            float: left;

                              a {
                                @include whmp(auto,35px,0,3px);

                                font-size: 20px;
                                border-radius: $border-radii;
                                text-shadow: 1px 1px $primary-dark-color;
                              }
                          }
                          .menu-item:hover {
                            a { text-decoration: none; }
                          }
                      }
                  }
              }
              .widget_search {
                  .search-form-container {
                    @include dptr(none,fixed,0,50px);
                      .search-form {
                          .input-group {
                              .search-field {}
                              .input-group-btn {
                                  .search-submit {
												            background-color: gray;
                                  }
                              }
                          }
                      }
                  }
                  .search-form-container.open {
                    display: inline-block;
                  }
              }
          }
      }
  }
}
@media only screen and (min-width: $md-min-width) {
  .navbar-body {
      .navbar-nav {
          .contact-us {
              .contact-item {
                  .contact-link {
                      .contact-icon {}
                  }
              }
          }
          .sb {
              .widget {}
              .widget_nav_menu {
                  .menu-primary-container {
                      .menu {
                          .menu-item {
                              a {}
                          }
                      }
                  }
              }
              .widget_search {
                  .search-form-container {
                      .search-form {
                          .input-group {
                              .search-field {}
                              .input-group-btn {
                                  .search-submit {}
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}
@media only screen and (min-width: $lg-min-width) {
  .navbar-body {
      .navbar-nav {
          .contact-us {
              .contact-item {
                  .contact-link {
                      .contact-icon {}
                  }
              }
          }
          .sb {
              .widget {}
              .widget_nav_menu {
                  .menu-primary-container {
                      .menu {
                          .menu-item {
                              a {}
                          }
                      }
                  }
              }
              .widget_search {
                  .search-form-container {
                      .search-form {
                          .input-group {
                              .search-field {}
                              .input-group-btn {
                                  .search-submit {}
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}
