.sans { font-family: $sans-font; }
.serif { font-family: $serif-font; }
.page-title {
    @extend .sans;
    
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px black;
    color: white;
}

.a-dropdown {
    .drop-toggle {
        @extend .sans;

        font-size: 25px;
        font-weight: 300;
        border: 1px solid black;
        background-color: white;
        
        .drop-arrow { font-size: 15px; }
    }
    .drop-toggle:hover {
        background-color: transparent;
        color: white;
        font-weight: 500;
        text-shadow: 1px 1px black;
        border: 1px solid white;
    }
    .drop-menu {

        border-radius: 5px;
        font-size: 15px;
        list-style: none;
        
        .drop-item {
            @extend .serif;
            
            text-align: left;
            border: 1px solid black;
            border-top-width: 0;
            background-color: white;
            
            .browse-link {
                @include dp(inline-block,relative);
                @include wh(100%,100%);
                
                padding: 8px;
                color: black;
            }
        }
        .drop-item:first-of-type {
                border-top-width: 1px;
                border-radius: 5px 5px 0 0;
        }
        .drop-item:last-of-type { border-radius: 0 0 5px 5px; }
        .drop-item:hover {
                border-color: white;
                background-color: transparent;
            .browse-link { color: white; }
        }
        display: none;
    }
    .drop-menu.open {}
}
.a-gallery {
	.gallery-cover {
		border: 1px solid $primary-light-color;
		.gallery-cover-img {
			@include wh(100px,100px);
		}
	}
}

.slick-slider {
	.slick-arrow {}
	.slick-prev {}
	.slick-next {}
	.slick-list {
		.slick-track {
			.slick-slide {}
		}
	}
	.slick-dots {}
}
