/* FONTS */
  //sans
  $sans-font: 'Alegreya Sans', sans-serif;
  //serif
  $serif-font: 'Merriweather', serif;

/* COLORS */
  $primary-dark-color: black;
  $primary-light-color: white;

/* BREAKPOINTS (DevTools Responsive widths) */
  $xs-min-width: 320px;
  $xs2-min-width: 375px;
  $xs3-min-width: 425px;
  $sm-min-width: 768px;
  $md-min-width: 1024px;
  $lg-min-width: 1440px;

$border-radii: 5px;

$header-height: 50px;
/* FOOTER  */
  // height:width ratio of gate image
  $footer-gate-ratio: .90798;
  // width = 100% of device width
  $footer-width: 100vw;
  // number of gates on phones
  $footer-gates-xs: 2;
  $footer-gates-xs2: 2;
  $footer-gates-xs3: 2;
  // number of gates on tablets
  $footer-gates-sm: 2.99;
  // number of gates on laptops
  $footer-gates-md: 4.98;
  $footer-gates-lg: 6.95;
